<!-- Report Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded-pill py-1 px-4">Appointment Report</p>
                <h1 class="mb-4">Your Appointment Details</h1>
                <ul>
                    <li><strong>Name:</strong> {{ data['name'] }}</li>
                    <li><strong>Email:</strong> {{ data['email'] }}</li>
                    <li><strong>Mobile:</strong> {{ data['mobile'] }}</li>
                    <li><strong>Officer:</strong> {{ data['officer'] }}</li>
                    <li><strong>Date:</strong> {{ data['date'] }}</li>
                    <li><strong>Time:</strong> {{ data['time'] }}</li>
                    <li><strong>Problem:</strong> {{ data['problem'] }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Report End -->
